* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #c31432, #240b36);
  min-height: 100vh;
  width: 100%;
  font-family: 'Gaegu', 'Arial', 'Helvetica', sans-serif;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
}
