// Colors

$color-primary: #AF003B;
$color-secondary: #F3C2CF;
$color-favorite: #FFDF00;

$color-light: white;
$color-dark: black;

// Font

$font-primary: 'Arial', 'Helvetica', sans-serif;
$font-size-normal: 14px;
$font-size-big: 18px;
$font-size-title: 30px;
$font-weight-bold: 700;