.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.movie {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.favorite--active {
  background-color: gold;
  // border: 3px solid yellow;
}
