.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-auto-flow: row;
}

.list__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.list__item--fav {
  background-image: linear-gradient(orange, #ffc500);
  border: 1px solid white;
  // border: 3px solid yellow;
}

.list__item-title {
  font-family: 'Gaegu', 'Arial', 'Helvetica', sans-serif;
}
