.title {
  font-weight: $font-weight-bold;
  font-size: $font-size-title;
  color: $color-dark;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}

.input {
  font-family: $font-primary;
  border-bottom: 1px solid black;
  height: 30px;
  width: 300px;
  background-color: transparent;
  color: $color-dark;
  font-size: $font-size-normal;
}

input::-webkit-input-placeholder {
  color: $color-dark;
  font-size: $font-size-normal;
  font-family: $font-primary;
}
input:-moz-placeholder {
  color: $color-dark;
  font-size: $font-size-normal;
  font-family: $font-primary;
}
input:-ms-input-placeholder {
  color: $color-dark;
  font-size: $font-size-normal;
  font-family: $font-primary;
}

.search__container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 0 10px;

  @media all and (min-width: 768px) {
    margin: 0 30px;
  }

  @media all and (min-width: 1200px) {
    margin: 0 50px;
  }
}

.list__item {
  background-color: $color-secondary;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 10px;
}

.list__item-title {
  color: $color-primary;
  font-size: $font-size-big;
  text-align: center;
  position: relative;
  margin-top: 10px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 2px;
    left: 0;
    background-color: $color-primary;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.list__item--fav {
  background-color: $color-favorite;
  border-radius: 10px;

  .list__item-title {
    color: $color-dark;

    &::before {
      background-color: $color-dark;
    }
  }
}

.number-of-searchs {
  padding-bottom: 20px;
  text-align: center;
}
