.button {
  font-family: 'Arial', 'Helvetica', sans-serif;
  padding: 10px;
  margin-top: 20px;
  border: 0;
  margin-left: 10px;
  background-color: #AF003B;
  color: white;
  font-size: 14px;
  font-weight: 700;

  &:hover {
  background-color: #FCBFCE;
  color: black;
  transition: background-color ease-in 1s, color ease 1s;
  }
}
