.button {
  font-family: 'Arial', 'Helvetica', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 40px;
  width: 100px;
  border: 0;
  border-radius: 15px;
  background-color: #AF003B;
  color: white;
  font-size: 14px;
  font-weight: 700;

  &:hover {
  background-color: #FCBFCE;
  color: black;
  transition: background-color ease-in 1s, color ease 1s;
  }
}
